[submodule "thirdparty/in3d/thirdparty/pyimgui"]
	path = thirdparty/in3d/thirdparty/pyimgui
	url = https://github.com/pyimgui/pyimgui.git
[submodule "thirdparty/simple-knn"]
	path = thirdparty/simple-knn
	url = https://github.com/camenduru/simple-knn
[submodule "thirdparty/fused-ssim"]
	path = thirdparty/fused-ssim
	url = https://github.com/rahul-goel/fused-ssim.git